body{
	font-family: 'Lato', sans-serif;
	color: #2d3c49;
	font-weight: 300;
}

/* unvisited link */
a:link {
    color: #2d3c49;
}

/* visited link */
a:visited {
    color: #7d97ad;
}

/* mouse over link */
a:hover {
    color: #02b3e4;
}

/* selected link */
a:active {
    color: #02b3e4;
}

.text-muted{
	color: #7d97ad;
}

.text-thin{
	font-weight: 100;
}

.title-super{
	font-size: 60px;
}

.title-logo{
	width: 100px;
	height: 100px;
	margin-top: 20px;
}

hr{
    border:solid  #7d97ad 2px;
}

@media screen and (max-width: 1024px){

	.center_img{
		margin-left: auto;
		margin-right: auto;
	}
}
